html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#main-contents {
    margin: 0;
    padding: 0;
}
#main-contents canvas {
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border: solid;
}

